!node_modules
node_modules/*

!node_modules/font-awesome
node_modules/font-awesome/*
!node_modules/font-awesome/css
!node_modules/font-awesome/fonts

!node_modules/html5shiv
node_modules/html5shiv/*
!node_modules/html5shiv/dist

!node_modules/jquery
node_modules/jquery/*
!node_modules/jquery/dist

!node_modules/jquery.event.move
node_modules/jquery.event.move/*
!node_modules/jquery.event.move/js

!node_modules/requirejs
node_modules/requirejs/*
!node_modules/requirejs/require.js